---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div id="container"></div>

<script id="vertShader" type="shader">

varying vec2 vUv;
varying vec3 vecPos;
varying vec3 v_position;

void main() {
  vUv = uv;
  vecPos = (modelViewMatrix * vec4(position, 1.0)).xyz;
  v_position = position.xyz;
  gl_Position = projectionMatrix * vec4(vecPos, 1.0);
}
</script>
<script id="fragShader" type="shader">

uniform sampler2D textureSampler;
varying vec3 v_position;
varying vec2 vUv;
void main(void) {
  vec4 image = texture2D(textureSampler,vUv);

  vec3 normal = normalize(cross(dFdx(v_position),dFdy(v_position)));

  vec3 light = vec3(0.,0.,1.);

  vec3 prod = clamp(cross(normal,light), 0., 1.0);


  gl_FragColor = image*(1. - prod.r);
}
</script>
{% endblock %}
